  <!--O código abaixo é como é sem usar a propriedade restaurant -->
  <!--<a href="detail-restaurant.html">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img src="assets/img/restaurants/tasty.png" /></span>

      <div class="place-info-box-content">
        <span class="place-info-box-text">Tasty Treats</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i> 4.5</span>
        <span class="place-info-box-detail">Bakery</span>
        <span class="place-info-box-detail">40-65m</span>
      </div>
    </div>
  </a>
   -->
 <!--O código abaixo é com a propriedade restaurant -->
 <a [routerLink]="['/restaurant', restaurant.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="restaurant.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{restaurant.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{restaurant.rating}}</span>
      <span class="place-info-box-detail">{{restaurant.category}}</span>
      <span class="place-info-box-detail">{{restaurant.deliveryEstimate}}</span>
    </div>
  </div>
</a>