 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-home"></i>
            <!--o objeto restaurant vem da configuração do arquivo restaurant-detail.component.html-->
            <!--E a interrogação(?), é para aceitar null, pois na primeira chamada vem null e se não tiver vai dar um erro e não vai deixar chamar a segunda chamada para aí sim trazer carregado-->
            <h3 class="box-title">{{restaurant?.name}}</h3><span class="pull-right"><i class="fa fa-star"></i> {{restaurant?.rating}}</span>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!--Para evitar o erro que dava no console do navegador do objeto que era carregado null
            coloca-se o (*ngIf="restaurant") que só vai renderizar a imagem quando o objeto restaurant não for nullo-->
            <div class="col-sm-3 col-xs-12" *ngIf="restaurant">
              <img class="box-img-detail" [src]="restaurant?.imagePath" />
            </div>

            <dl class="col-sm-9 col-xs-12">
              <dt>Categoria</dt>
              <dd>Padaria</dd>
              <dt>Quem somos</dt>
              <dd>{{restaurant?.about}}</dd>
              <dt>Horários</dt>
              <dd>{{restaurant?.hours}}</dd>
            </dl>
          </div>
          <!-- /.box-body -->
          <div class="box-footer detail-footer">
          <a class="pull-left detail-active" href="detail-restaurant.html">
             Menu
          </a>
          <a class="pull-right" href="detail-restaurant-reviews.html">
             Avaliações
          </a>
        </div>
        </div>
      </div>
      <!-- /.col-xs-12 -->

  </div>


  <div class="row">
      <!--INÍCIO DO MENU -->
      <mt-menu></mt-menu>
    <!-- FIM DO MENU -->
</div>

</section>
<!-- FIM DO CONTEÚDO -->